
.spaced {
	margin: 35px 0;
}

.x-scroll {
	overflow-x: scroll;
}

.mircomp-logo {
	display: inline-block;
}

.vintage-font {
	font-family: fixedsys, monospace;
}

.b-heroes-divider {
	width: 100%;
	height: 1rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
